$backgroundColor: #e58632;
$titillium: 'Titillium Web', sans-serif;

@import "libs/normalize";

body {
	background-color: $backgroundColor;
}

.container {
	position: absolute;
	top: 50%;
	margin-top: -200px;
	left: 0;
	width: 100%;
}

.content {
	width: 800px;
	margin: 0 auto;
	height: 400px;
	text-align: center;
}

p {
	font-family: $titillium;
	color: #452e0f;
	font-size: 32px;
	text-transform: uppercase;
	margin: 0;
}